

<% if user_signed_in? %>
 <section>
  <div class="container">

    <% @posts.each do |post| %>
    <div class="feed_post">
     <div>
       <figure>
         <%= link_to post_path(post) do %>
           <%= attachment_image_tag post, :image, class: "feed_photo"  %>
         <% end %>
        </figure>
      </div>


         <div>
             <figure class="image_area">
                 <%= link_to user_path(post.user.id) do %>
                    <%= attachment_image_tag post.user, :profile_image, fallback: "default.png", class: "feed_userimg" %>
                 <% end %>
              </figure>
         </div>
                  
                  <div class="feed_username">
                      <%= link_to post.user.username, user_path(post.user), class: "nm" %>
                  </div>
                
                
                
                 <div class="feed_right">
                  <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                 </div>
                
            </div>
          <% end %>
         
      </div>
   </section>




 
<% else %>


   <div class="before_login">
     <ul id="top">  
      <li>
      <img class="home-logo" src="/assets/home-logo.png">
     </li>
                
     <li>
         <%= link_to new_user_registration_path do %>
        <button class="signin">アカウント作成</button>
         <% end %>
     </li>
     
     <li> 
        <%= link_to new_user_session_path do %>
        <button class="login">ログイン</button>
        <% end %>
     </li>
     
     <li class="look">
       <%= link_to '投稿をみる', root_path(anchor:'promptposts') %>
     </li>
     
    </ul>



<section>
  <div class="prompt-posts" id="promptposts">
   
    <% @posts.each do |post| %>
    
    
    <div class="feed_post">
     <div>
       <figure>
         <%= link_to root_path(anchor:'top') do %>
           <%= attachment_image_tag post, :image, class: "feed_photo"  %>
         <% end %>
        </figure>
      </div>


         <div>
             <figure class="image_area">
                 <%= link_to root_path(anchor:'top') do %>
                    <%= attachment_image_tag post.user, :profile_image, fallback: "default.png", class: "feed_userimg" %>
                 <% end %>
              </figure>
         </div>
                  
                  <div class="feed_username">
                      <%= link_to post.user.username, root_path(anchor:'top'), class: "nm" %>
                  </div>
                
                
                
                 <div class="feed_right">
                  <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                 </div>
             </div> 
             
            
          <% end %>
     
      </div> 
    </section>
    
</div>    
<% end %>



